.gallery{
	padding: 90px 0px 73px;
	@include max-screen(991px){
		padding: 60px 0px 40px;
	}
	@include max-screen(480px){
		padding: 40px 0px 30px;
	}
	&__content{
		padding: 18px 0;
	}
	&__collapse-wrapper{
		overflow: hidden;
		transition: 1s;
		margin-top: 40px;
	}
	&__item-wrapp{
		margin-bottom: 40px;
	}
	&__item{
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		box-shadow: 0 10px 17px rgba(0,0,0, 0.15);
	
		max-height: 230px;
		height: 100%;
		@include max-screen(768px){
			max-height: 380px;
		
		}
	}
	&__poster{
		position: relative;
		height: 100%;
		object-fit: cover;
		
	}
	&__img{
		height: 100%;
	}
	&__project-info{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 100;
		opacity: 0;
		background-color: rgba($gallery_hover_cl , 0.7);
		transition: 0.7s;
		&:hover{
			opacity: 1;
		}
	}
	&__item-text{
		opacity: 0.7;
		color: $cl3;	
		font-family: $merriweather, sans-serif;
		font-weight: 400;
		font-size: em(14px);
		line-height: 24px;
		max-width: 270px;
		text-align: center;
	}
	&__item-link{
		color: $gallery_link_cl;
		font-family: $main_text-font, sans-serif;
		font-size: em(18px);
		font-weight: 400;
		letter-spacing: 1px;
		line-height: 24px;
		text-transform: uppercase;
		&:hover{
			text-decoration: underline;
		}
	}
	&__btn{
		margin: 10px auto 0;
		border: none;
		display: block;
		outline: none;
		&:hover{
			text-decoration: none;
		}
	}
}