section.awards#awards
	div.container
		h2.base-title recent awards and achievements 
		div.awards__content.fl_aic_jcsa
			each item in awards
				div.awards__item
					img.awards__image(src=item alt="Our Awards")