section.paralax.deal
	div.deal__content
		h5.base-title.base-title--type2.base-title--white.deal__title get started
		span.deal__subtitle Don’t Miss This Deal
		a.btn.btn--transparent.deal__btn(href="#") Order your house