section.map
	div.map__content
		h2.base-title.map__title places we build
		span.base-subtitle.map__subtitle Mooresville, Troutman, Statesville, Mathews, Charlotte
	div.map__container
		div.map__inner#map
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBowekWAHYB3YVtMwJZ3ZqEZ5C0nRyOWd8&callback=initMap" async  defer)
				