extends pug/base

append vars
	- html.classList.push('page-index')
	- title = "Foundation Homes"
	- nav = {'about' : '/', 'contact' : '/', 'gallery': '/'}
block content
	include pug/topline.pug
	include pug/mobile_menu.pug