*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	line-height: 1.15;

}

body{
	overflow-x: hidden;
	min-width: 320px;
	color: $color-light_black;
	font-size: 16px;
	margin: 0;
	line-height: 1.75;
	position: relative;
}
article, aside, footer, header, nav, section {
 display: block;
}
img{
	width: 100%;
	height: auto;
	vertical-align: middle;
	display: block;
}

a{
	display: block;
	outline: none;
	cursor: pointer;
	&:focus{
		outline: none;
	}
}
//global flex classes
.fl_aic_jcc{
	@extend .d-flex;
	@extend .align-items-center;
	@extend .justify-content-center;
}

.fl_aic_jcsb{
	@extend .d-flex;
	@extend .align-items-center;
	@extend .justify-content-between;	
}
.fl_aic_jcsa{
	@extend .d-flex;
	@extend .align-items-center;
	@extend .justify-content-around;	
}
.infl_aic_jcsb{
	@extend .d-inline-flex;
	@extend .align-items-center;
	@extend .justify-content-around;
}

//global flex media
.fl_md_jce{
	@include max-screen(991px){
		justify-content: flex-end!important;
	}	
}
.fl_sm_jcc{
	@include max-screen(767px){
		justify-content: center!important;
	}	
}
.fl_sm_jcsb{
		@include max-screen(767px){
		justify-content: space-between!important;
	}	
}
.fl_670_jcc{
	@include max-screen(670px){
		justify-content: center!important;
	}
}
.full-670{
	@include max-screen(670px){
		flex: 0 0 100%;
		max-width: 100%!important;
	}
}


.link{
	color: $color-white;
	font-family: $main_text-font, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn{
	padding: 0px 17px;
	text-transform: uppercase;
	text-decoration: none;
	user-select: none;
	line-height: 50px;
	letter-spacing: 2px;
	font-size: em(24px);
	font-family: $main_text-font, sans-serif;
	color: $color-white;
	transition: 0.2s;
	text-align: center;
	&:hover{
		text-decoration: underline;
	}
	&--blue{
		background-color: $cl1;
		color: rgba($color-white, 0.5);
		&:hover{
			background-color: $cl1-hover;
			color: $color-white;
		}
	}
	&--yellow{
		background-color: $color-shauma-light;
		color: rgba($color-white, 0.7);
		&:hover{
			background-color: $color-shauma;
			color: $color-white;
		}
	}
	&--transparent{
		color: rgba($cl3, 0.5);
		letter-spacing: 2px;
		border: 1px solid $cl3;
		&:hover{
			color: $cl3;
		}
	}
}


//Global media classes
.hidden-md{
	@include max-screen(991px){
		display: none!important;
	}
}
.hidden-md-up{
	@include max-screen(991px){
		display: block!important;
	}
}

.container{
	@include max-screen(768px){
		width: 100%;
		max-width: 100%;
	}
}