// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-light_black: #333333;
$color-white: #fff;
$color-shauma: #998543;
$color-shauma-light: #af9c5d;
$color-darc_blue: #111F2c;
$color-deep_blue: #0B4A8E;
$color-deep-blue-hover: #1259a6;


// PALITRA
$akcent_cl: $color-shauma;
$theme_cl: $color-darc_blue;
$cl1: $color-deep_blue;
$cl1-hover: $color-deep-blue-hover;
$cl2: $color-light_black;
$cl3: $color-white;
$border_cl: $color-shauma-light;

// FONTS
$gothic: 'Gothic';
$marketing: 'MarketingScript';
$merriweather: 'Merriweather';

//FONTS FOR THEME
$main_header-font: $marketing;
$main_text-font: $gothic;
$text-font: $merriweather;


//SIZES
$base-font-size: 16px;