// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-yellow: #ffee50;
$color-energy-yellow: #f7e74d;
$color-gray: #f8f8f8;

// FONTS
$base-font-size: 16;
$din-medium : "DIN-medium";
$gotham : "Gotham";
$gotham-book : "Gotham-book";


